.row {
	margin: 5px;
	border-radius: 5px;
	border: 1px solid;
}
.item {
	margin-top: 10px;
}
.img-cover {
	width: 100%;
}
.clear-padding {
	padding-left: 0px;
	padding-right: 0px;
}
.padding-4 {
	padding: 4px;
}
.tab-1 {
	width: 85px;
}
.table > tbody > tr > td {
	border: 0px;
}
