body {
	font-size: 14px;
}
.row {
	margin: 0px;
	margin-bottom: 5px; 
	border-radius: 5px;
	border: 1px solid;
}
.item {
	margin-top: 10px;
}
.img-cover {
	width: 100%;
}
.clear-padding {
	padding-left: 0px;
	padding-right: 0px;
}
.padding-4 {
	padding: 4px;
}
.tab-1 {
	width: 90px;
}
.table {
	font-size: 13px;
}
.table > tbody > tr > td {
	border: 0px;
}
div.panel {
	padding: 15px;
}
div.active {
	border: 1px solid #990000;
}
.center-block {
	float: none;
}