<!doctype html/>
<html ng-app="bookcase" lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<script src="lib/js/angular.min.js"></script>
		<script src="lib/js/jquery.min.js"></script>
		<script src="lib/js/bootstrap.min.js"></script>
		<script src="app.js"></script>
		<link rel="stylesheet" href="lib/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="app.css">
		<title>评论</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">書齋</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
				        <li><a href="index.html">首頁<span class="sr-only">(current)</span></a></li>
				        <li class="active"><a>評論</a></li>
				        <!-- <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#">Action</a></li>
				            <li><a href="#">Another action</a></li>
				            <li><a href="#">Something else here</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="#">Separated link</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="#">One more separated link</a></li>
				          </ul>
				        </li> -->
				    </ul>
				</div>
			</div>
		</nav>
		
		<panels ng-controller="PanelCtrl as ctrl"></panels>

		<form name="reviewForm" class="col-sm-4 col-xs-12 center-block" ng-controller="ReviewCtrl as ctrl" ng-submit="reviewForm.$valid && ctrl.submitReview(ctrl.book)" novalidate>
			<h4>预览：</h4>
			<div>
				<div class="col-xs-3 padding-4">
					<img class="img-cover" ng-src="{{ctrl.book.cover}}" />
				</div>
				<div class="col-xs-9 padding-4">
					<table class="table table-condensed">
						<tr><td class="tab-1">書名：</td><td>{{ctrl.book.name}}</td></tr>
						<tr><td>作者：</td><td>{{ctrl.book.author}}</td></tr>
						<tr><td>分類：</td><td>{{ctrl.book.kind}}</td></tr>
						<tr><td>售價：</td><td>{{ctrl.book.price | currency}}</td></tr>
						<tr><td>上架日期：</td><td>{{ctrl.book.registerDate | date: 'yyyy-MM-dd'}}</td></tr>
						<tr><td>簡介：</td><td>{{ctrl.book.intro}}</td></tr>
					</table>
				</div>

				<table class="table table-condensed">
					<tr><td class="tab-1">星级：</td><td>{{ctrl.star}}</td></tr>
					<tr><td>评论：</td><td>{{ctrl.review}}</td></tr>
				</table>
				数据审核标志：{{reviewForm.$valid}}
			</div>
			<div class="form-group">
				<label class="sr-only">书名：</label>
				<div class="input-group input-group-sm">
					<span class="input-group-addon">书名</span>
					<input class="form-control" type="text" placeholder="书名" ng-model="ctrl.currentName" ng-change="ctrl.changeBook(ctrl.currentName)" list="bookList" required/>
					<datalist id="bookList"></datalist>
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only"></label>
				<div class="input-group input-group-sm">
					<span class="input-group-addon">星级</span>
					<input class="form-control" type="number" placeholder="评论星级" min="1" max="5" ng-model="ctrl.star" list="starList" required/>
					<datalist id="starList">
						<option value="1"/>
						<option value="2"/>
						<option value="3"/>
						<option value="4"/>
						<option value="5"/>
					</datalist>
					<span class="input-group-addon">颗</span>
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only">评论：</label>
				<div class="input-group input-group-sm">
					<span class="input-group-addon">评论</span>
					<textarea class="form-control" placeholder="评论" ng-model="ctrl.review" required></textarea>
				</div>
			</div>
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="发表" ng-show="reviewForm.$valid"/>
			</div>
		</form>
	</body>
</html>